.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  background: linear-gradient(gray,rgb(85, 82, 82),rgb(19, 18, 18));
}

.btn {
  background:gray;
  padding: 1.25rem;
  border-radius: 16px;
  box-shadow: var(--shadow);
  margin: 1.5rem auto;
 width: 300px;
  text-transform: capitalize;
  display: block;
}
section{
    background: lightgray;
    padding: 1.25rem;
    border-radius: 16px;
    box-shadow:4px 4px 8px 6px black;
    margin: 1.5rem auto;
    max-width: 1200px;
    text-transform: capitalize;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow:4px 4px 8px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    
}
.reset:hover,.next:hover,.btn:hover {
  background: lightblue;
  color: white;
  cursor: pointer;
  transform: scale(1.08);
} 
 h1 {
  font-size: clamp(22px, 5vw, 36px);
  font-weight: 700;
  margin: 1rem auto;
  color: black;
  text-shadow: 0 6px 18px rgba(0, 0, 0, 0.6);
font-family: Georgia, 'Times New Roman', Times, serif;
  width: 0;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
  border-right: 3px solid gold;

  animation:
    typing 3s steps(22,end) infinite forwards alternate;

}
.next,.reset{
  background:blue;
  padding: 1.25rem;
  border-radius: 16px;
  box-shadow: var(--shadow);
  margin: 1.5rem auto;
 width: 150px;
  text-transform: capitalize;
  display: block;
}
@media (max-width: 400px) {
  .bio {
    flex-direction: column;
    text-align: center;
  }
  h1{
    font-size: 14px;
     
  }
    .btn,.next,.reset{
        width:150px;   
        
}}
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}